---
title: CBBC Does BookFace Book Club
description: Sick of freedom? Lets read Vanishing World.
date: git Created
start: 2025-07-25T08:00:00Z
end: 2025-07-25T10:00:00Z
location:  BookFace Bookstore, Gungahlin
tags: [posts, events]
---

<ul>
<li>Are you sick of the freedom of the monthly meets?</li>
<li>Do you have the deep need to talk books for a second time each month? </li> 
<li>Are you addicted to supporting local Gungahlin businesses?  </li>
</ul>

<p><a href="https://www.facebook.com/groups/1577438775740967/">The local BookFace in Gungahlin also runs a book club</a>. Some of our members already attend but this will be my first and I thought I would put the word out to get some more of the crew along. 

<p>This month they are reading Vanishing World by Sayaka Murata. It's a short read and easy to complete before the meet. 
{% getBookSlug "vanishing-world" %}

<p>I really liked her previous book Convenience Store Woman so high hopes for this one! 


