---js
const description = "Check out when our next book club or community event is happening.";

const eleventyNavigation = {
	key: "Events",
	order: 2
};
---

Subscribe to the ical <a href="/feed/events.ics">here</a>
{% set postslist = collections.eventsdatesort %}
{% include "eventpostslist.njk" %}
