---js
const description = "Reviews by book club members on what we have discussed.";
const eleventyNavigation = {
	key: "Reviews",
	order: 3
};
---

{% set postslist = collections.review %}
{% include "postslist.njk" %}